


.header {
  display: flex;
  justify-content: space-between;
  background-color: #253551;
  height: 100px;
}


.nav-logo {
  display: flex;
  color: white;
  font-size: 40px;
  width: auto;
  align-items: center;
  padding: 20px;

}
@media screen and (max-width:700px) {
  .nav-logo {
    font-size: 20px;
  }
}

.nav-right-side {
  display: flex;
  width: 600px;
  justify-content: space-around;
  padding:auto;
}
@media screen and (max-width:700px) {
  .nav-right-side {
    font-size: 10px;
  }
  
}

.nav-home {
  display: flex;
  color: white;
  height: auto;
  width: auto;
  align-items: center;
  padding: 10px;
}
.nav-home:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #FFD700;
}

.nav-about-me {
  display: flex;
  color: white;
  height: auto;
  width:auto;
  align-items: center;
  padding: 10px;
}

.nav-about-me:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #FFD700;
}


.nav-case-studies {
  display: flex;
  color: white;
  height: auto;
  width: auto;
  align-items: center;
  padding: 10px;
}

.nav-case-studies:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #FFD700;
}

.nav-resume {
  display: flex;
  color: white;
  height: auto;
  width: auto;
  align-items: center;
  padding: 10px;
}

.nav-resume:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #FFD700;
}

.nav-contact {
  display: flex;
  color: white;
  height: auto;
  width:auto;
  align-items: center;
  padding: 10px;
}

.nav-contact:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #FFD700;
}

.hero-img-section {
  display: flex;
  background-color: rgb(240, 225, 205);
  height: 800px;
}



#hero-text-box {
  display: block;
  background-color: white;
  height: 350px;
  width: 550px;
  margin-left: 150px;
  margin-top: 150px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
  border-width: 0.05px;
  box-shadow: 2px 2px 10px #606060;
  place-items: center;
}

@media screen and (max-width:600px) {
  #hero-text-box {
    width: 500px;
    margin-left: 60px;
  }
}

.hero-box-text {
  display: grid;
  width: 300px;
  color: #253551;
  font-size: 26px;
  justify-content: center;
  place-items: center;
  margin-top: 100px;
  margin-left: 120px;

}

@media screen and (max-width:700px) {
  .hero-box-text {
    padding-top: 100px;
    width:300px;
    font-size: 20px;
    text-align: center;
    margin:25px
  }
}

.hero-text-button {
  display: inline-block;
  background-color: #253551;
  height: 50px;
  width: 150px;
  margin-left: 200px;
  margin-top: 100px;
  color: white;
  border-radius: 5px;
}
@media screen and (max-width:700px) {
  .hero-text-button {
    margin-left: 105px;
    margin-top: 20px;

  }
}


.hero-text-button:hover {
  background-color: #FFD700;
  border: none;
  font-size: 20px;
  color: #253551;
  cursor: pointer;
  border-style: solid;
  border-width: 5px;
  transform: rotate(360deg);
  transition-duration: 1s;

}

.portfolio-guy {

  height: 500px;
  margin-left: 250px;

  width: 500px;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  border-radius: 800px;
  object-fit: cover;
}
@media screen and (max-width:700px) {
  .portfolio-guy {
    display: none;
  }
}

/*this is start css for tabs interaction*/




.tabContainer {
  max-width: 100%;
  background-color: #F4F4F4;
  margin: 0 auto;


}
.tab {
  display:inline-block;
  padding: 15px 25px;
  width: 33.33%;
  text-align: center;
  color: black;
  font-size: 18px;
  font-family: arial, helvetica;
  cursor: pointer;
}
.tabBar {
  display: flex;
  background-color: #ffffff;
  margin-top: 0px;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
}
.tab1 {
  text-align: center;
  place-items: center;
  border-style: solid;
  border-width: 1px;


}
.tab2 {
  border-style: solid;
  border-width: 1px;

}

.tab3 {
  border-style: solid;
  border-width: 1px;

}

.active {
  background-color: #FFD700;
  color: black;
  border-style: solid;
}
#tabContent1{
  margin-top: 20px;


}
#tabContent2 {
  display:none;
  margin-top: 50px;
}

#tabContent3 {
  display:none;
  margin-top: 50px;
}

.grid {

}
.listItem {
  padding: 18px;
}









/*this is end of css for tabs interaction*/






.ux-skills-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100px;
  margin: 0px;
  background-color: #253551;
  color: white;
  border-style: solid;

}

.my-ux-skills{
  display: flex;
  height: 550px;
  place-content: center;
}



@media  screen and (max-width:700px) {
  .my-ux-skills {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    width:fit-content;
    width: 465px;
    height: 600px;
    place-content: center;
  }  
}

  



.skills-img-1 {
  height: 250px;
  width: 250px;
  margin-top: 45px;
}

  


.ux-research-title {
  font-size: 40px;
  color: #003da8;
}



.ux-research-p {
  line-height: 30px;
  width: 420px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}


  


.skills-img-2 {
  height: 300px;
  width:250px;
}


.ideation-title {
  font-size: 40px;
  color: #003da8;
}

.ideation-p {
  line-height: 30px;
  width: 320px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.skills-img-3 {
  height: 300px;
  width:250px;
}

.prototyping-title {
  font-size: 40px;
  color: #003da8;

}

.prototyping-p {
  line-height: 30px;
  width: 420px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}










.recent-work-text-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    height: 100px;
    margin: 0;
    background-color: #253551;
    color: white;
    border-style: solid;
    margin-bottom: 0px;
  }


.recent-work-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 1000px;
  background-color: antiquewhite;
  place-items: left;
  padding-top: 0px;
  justify-content: center;
  place-items: center;
}
@media screen and (max-width:700px) {
  .recent-work-section {
    height: 1400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  
}

.recent-work-titles {
  margin-left: 100px;
}
@media screen and (max-width:700px) {
  .recent-work-titles {
    margin-left: 120px;
    align-items: center;
  }
  
}


.recent-work-img-1 {
  height: 300px;
  width: 520px;
}
@media screen and (max-width:700px) {
  .recent-work-img-1 {
    width: 450px;
    height: 230;

  }
}

.angel-p {
  width: 500px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}

@media screen and (max-width:700px) {
  .angel-p {
    width: 200px;
    text-align: center;
    place-items: center;
    margin-left: 150px;
  }
  
}

.recent-work-img-2 {
  height: 300px;
  width: 400px;
  margin-left: 70px;
}

@media screen and (max-width:700px) {
  .recent-work-img-2 {
    margin-right: 100px;
  }
}

.dol-p {
  width: 300px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 100px;
}

@media screen and (max-width:700px) {
  .dol-p {
    width: 200px;
    text-align: center;
    place-items: center;
    margin-left: 180px;
  }
  }

.recent-work-buttons {
  background-color: #FFD700;
  background-color: #253551;
  height: 50px;
  width: 150px;
  border-radius: 5px;
  color: white;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 100px;

}

@media screen and (max-width:700px) {
  .recent-work-buttons {
    width: 200px;
    text-align: center;
    place-items: center;
    margin-left: 150px;
  }
  }







.footer {
  display: flex;
  background-color: #253551;
  color:white;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  padding:0px;


}

@media screen and (max-width:500px) {
  .footer {
    display: flex;
    width: 469px;
    height: 200px;
  }
  
}



.footer-text-1 {
  color:white;
  font-size: 42px;

  display: flex;
  align-items: center;
  margin:0px;
  margin-left: 50px;
}
@media screen and (max-width:600px) {
  .footer-text-1 {
    font-size: 30px;
    margin-left: 20px;
  }
  
}

.footer-text-2 {
  color: white;
  font-size: 42px;
  display: flex;
  align-items: center;
  margin-right: 50px;


}

@media screen and (max-width:600px) {
  .footer-text-2 {
    display: flex;
    font-size: 20px;
    margin-left: 40px;
  }
  
}